@using InPos000Data
@model InPosViewModel

@{ViewBag.Title = "List Object Analysis";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Object Analysis</h2>


@using (Html.BeginForm())
{
    <div class="panel panel-primary ">
        <div class="panel-heading">
            <h1 class="panel-title">THIS IS THE TITLE OF THE PANEL</h1>
        </div>

        <div class="container">
            <br/>
            <div clas="row">
                <div class="col-md-1">.col-md-1</div>
                <div class="col-md-4">
                    @Html.DropDownList("Select an Object to Analyze",
                        EnumHelper.GetSelectList(typeof (InPosViewModel.EmployeeType)),
                        "Select An Object To Analyze",
                        new {@class = "form-control"})
                </div>
                <div class="col-md-3">
                    col-md-3
                </div>
                <div class="col-md-3">
                    .col-md-3
                </div>
                <div class="col-md-1">
                    .col-md-1
                </div>
            </div>
            <br />

        </div>
        <div class="panel-footer">
            <button id="btnSearch"
                    class="btn btn-sm btn-primary"
                    data-pdsa-action="search">
                <i class="glyphicon glyphicon-search"></i>
                &nbsp;Search
            </button>
            <button id="btnReset"
                    class="btn btn-sm btn-primary"
                    data-pdsa-action="resetsearch">
                <i class="glyphicon glyphicon-share-alt"></i>
                &nbsp;Reset
            </button>
        </div>
    </div>
}
<!-- ** END SEARCH AREA ** -->

