@using InPos000Data
@model InPosViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>this is the body</h1>

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">THIS IS THE TITLE OF THE PANEL</h1>
        </div>
        <div class="panel-body">
            @*<div class="wellcls well well-lg">*@
            <div class="well well-lg">
                <div class="container">
                    <div class="row">
                        @*<div class="col-md-1 col-xs-1"></div>*@
                        <div class="col-sm-4 col-xs-4">
                            @Html.DropDownList("Select an Object to Analyze",
                                EnumHelper.GetSelectList(typeof(InPosViewModel.EmployeeType)),
                                "Select Object To Analyze", new { @class = "form-control input-sm fl" })
                        </div>
                        @*<div class="col-xs-1"></div>*@
                        <div class="col-sm-3 col-xs-3">
                            <label class="radio-inline">
                                <input class="fl" type="radio" name="director">Find
                            </label>
                            <label class="radio-inline">
                                <input class="fl" type="radio" name="director">Count
                            </label>
                        </div>
                        <div class="col-sm-1 col-xs-1"></div>
                        <div class="col-sm-2 col-xs-2">
                            <button id="btnAnalyze" class=" btn-sm btn-primary">Analyze</button>
                        </div>
                        <div class="col-sm-2 col-xs-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <script>
           // $("#btnAnalyze").prop('disabled', true);
            //On document load
            //$(function () {
            //    //Set button disabled
            //    //$("input[type=submit]").attr("disabled", "disabled");
            //    $("#btnAnalyze").attr("disabled", "disabled")})
                
            ////    //Append a change event listener to you inputs
            ////    $('input').change(function () {
            ////        //Validate your form here, example:
            ////        var validated = true;
            ////        if ($('#nome').val().length === 0) validated = false;

            ////        //If form is validated enable form
            ////        if (validated) $("input[type=submit]").removeAttr("disabled");
            ////    });

            ////    //Trigger change function once to check if the form is validated on page load
            ////    $('input:first').trigger('change');
            ////})


        </script>

    </div>
}